$color-red: #cc615f;
$color-grey: #B0BEC5;
$color-grey--light: #29363e;

$color-orange: #e6ac5e;
$color-blue: #004F71;
$color-green: #8fca53;
$color-purple: #68647c;
$color-gold: #efb05a;


$color-primary: $color-blue;

$bp-s: 43.75em; //700px;
$bp-xs: 34.375em; //550px;

